services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.9.0
    container_name: zookeeper2
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    ports:
      - "2182:2181"
    networks:
      - weather-net

  kafka:
    image: confluentinc/cp-kafka:7.9.0
    container_name: kafka2
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
    ports:
      - "9092:9092"
    networks:
      - weather-net

  topic-setup:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: kafka-topic-setup
    depends_on:
      - kafka
    env_file:
      - ./Secrets.env
    command: sh -c "sleep 10 && python setup_kafka_topics.py"
    networks:
      - weather-net

  weather-producer:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: weather-producer
    depends_on:
      - kafka
    env_file:
      - ./Secrets.env
    volumes:
      - ./datalake:/app/datalake
      - ./logs:/app/logs
      - ./db:/app/db
    networks:
      - weather-net
    restart: unless-stopped

networks:
  weather-net:
    driver: bridge
